@import './variables';
@import './mixins';

.card {
    position: relative;
    cursor: pointer;
    width: 500px;
    height: 200px;
    transition: transform 0.2s;
    border: none;
    margin: 10px;

    &:hover {
        transform: scale(1.05);
    }

    .card-logo {
        width: 200px;
        height: auto;
        object-fit: contain;
        border-radius: 4px;
        margin: 10px auto;
        display: block;
    }

    .card-info {
        padding: 10px;
        text-align: center;
        color: #333333;

        .card-category {
            background-color: rgba(0, 0, 0, 0.1);
            color: $secondary-color;
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 12px;
            margin-bottom: 4px;
            display: inline-block;

            @media (max-width: 480px) {
                font-size: 10px;
            }
        }

        .card-description {
            font-size: 12px;
            margin-top: 4px;
            max-width: auto;
            line-height: 1.5;
            color: $primary-color;
            
            @media (max-width: 480px) {
                font-size: 10px;
            }
        }
        
    }

    @media (max-width: 768px) {
        width: 90%;
        height: auto;
    }

    @media (max-width: 480px) {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}
