@import './variables';
@import './mixins';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 19%;
    background-color: $primary-color;

    img {
        width: 150px;
        height: auto;

        @media (max-width: 730px) {
            width: 100px;
        }
    }
    ul {
      list-style: none;
      display: flex;
      li {
          a {
              margin: 0 1rem;
              text-decoration: none;
              font-weight: bold;
              color: $tertiary-color;

              &:hover {
                  color: $secondary-color;
              }
          }
      }
    }

    @media (max-width: 730px) {
        flex-direction: column;
        align-items: center;

        padding: 0.6rem;

        nav {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                margin: 0.5rem 0;
            }
        }
    }
}
