$primary-color: #28293E;
$secondary-color: #EF6D58;
$tertiary-color: #F8F8F8;
$background-color: #FDF0E9;
$double-color: linear-gradient(135deg, lighten($primary-color, 5%), darken($primary-color, 5%));